@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background: #fff;
}

.navbar{
    height: 60px;
    background: #000;
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    margin-left: 50px;
}

.navbar nav ul li{
    display: inline-block;
    margin-right: 40px;
    line-height: 60px;
}

.navbar nav ul li a{
    font-size: 19px;
    color: #fff;
    
}